@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.main_contain {
  width: 400px;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.184);
  gap: 100px;
}

.main_contain button {
  background-color: white;
  border: 2px solid #ffffff;
  width: 220px;
  height: 55px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #000;
  font-size: 25px;
  cursor: pointer;
  transition: ease 0.5s;

  &:hover {
    box-shadow: 5px 5px 0px 0px #000000b7;
  }
}

.main_contain h1 {
  font-weight: bold;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
}

.logo {
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0%;
}

.Rectriangle {
  width: 250px;
  height: 250px;
  border: 10px solid white;
  transform: rotate(45deg);
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;

  &:nth-child(1) {
    left: -8%;
    top: 43%;
  }

  &:nth-child(2) {
    left: 43%;
    top: -8%;
  }

  &:nth-child(3) {
    left: 95%;
    top: 43%;
  }

  &:nth-child(4) {
    left: 43%;
    top: 95%;
  }

  &:nth-child(5) {
    width: 200px;
    height: 200px;
    border-radius: 0;
    left: 10%;
    top: 10%;
    border: none;
    background-color: transparent;
    animation: Chakara infinite linear 30s;
  }
}

.bar:nth-child(1) {
  width: 80px;
  padding: 3px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 48%;
  border-radius: 20px;
}
.bar:nth-child(2) {
  width: 80px;
  height: 2px;
  padding: 3px;
  background-color: white;
  position: absolute;
  top: 48%;
  border-radius: 20px;
  left: 57%;
}
.bar:nth-child(3) {
  width: 80px;
  height: 2px;
  padding: 3px;
  background-color: white;
  position: absolute;
  top: 19%;
  left: 29%;
  transform: rotate(90deg);
  border-radius: 20px;
}
.bar:nth-child(4) {
  width: 80px;
  height: 2px;
  padding: 3px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  top: 77%;
  left: 29%;
  transform: rotate(90deg);
}

@keyframes Chakara {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
