* {
    margin: 0;
    padding: 0;
}

.Container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
    flex-direction: column;


}

.app_container {
    width: 90vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 5%;
}

.app_container .app {
    width: 90px;
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
    flex-direction: column;
    opacity: 0;
    cursor: pointer;

    &:nth-child(1) {
        background-color: red;
    }
    &:nth-child(2) {
        background-color: yellow;
    }
    &:nth-child(3) {
        background-color: rgb(38, 38, 39);
    }


}

.app_container p {
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    bottom: -20%;
    color: white;
    letter-spacing: 3px;

}

.image_container {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.image_container img {
    width: 80%;
    height: 80%;
    background-size: cover;
    border-radius:8px;
}